<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.py.yoga">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity"></activity>
        <activity android:name=".activities.exerciseDescriptionActivity" />
        <activity android:name=".activities.tipDescriptionActivity" />
        <activity android:name=".activities.bmiCalculatorActivity" />
        <activity android:name=".activities.workout_desc" />
        <activity
            android:name=".activities.splashActivity"
            android:theme="@style/splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8427729765627466~9350858481"/>

        <receiver android:name=".activities.AlertReceiver" />
    </application>

</manifest>